<style>
    .hidden {
        display: none;
    }
</style>

<h1 class = "homepagetitle">{{title}}</h1>
<nav class="navbar navbar-light bg-light float-right">
    <form class="form-inline">
        <input id="keyword" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group mb-3 my-sm-0 mr-sm-2">
            {{!-- <div class="input-group-prepend">
                <label class="input-group-text" for="statusFilter">Status</label>
            </div>
            <select class="custom-select" id="statusFilter">
                <option value="" selected>All</option>
                <option value="Ended">Ended</option>
                <option value="Live">Live</option>
                <option value="Waiting for players">Waiting for players</option>
            </select> --}}
        </div>
        <button id="search" class="btn btn-outline-success my-2 my-sm-0" type="submit" data-toggle="modal" data-target="#searchModal">Search</button>
    </form>
</nav>

<!-- Search Modal -->
<div class="modal fade" id="searchModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<table class="table table-striped" id="resultTable">
    <thead class="thead-dark">
        <tr>
            <th>Image</th>
            <th>Item</th>
            <th>Quantity</th>
            <th>
                <a class="btn btn-info" href="home/login">Admin Login</a>
            </th>
            <th>
                <a class="btn btn-create btn-success" data-toggle="modal" data-target="#createModal">Create Account</a>
            </th>
        </tr>
        {{#each item}}
        <tr>
            <td><img src={{picture}} alt={{picture}}></td>
            <td>{{name}}</td>
            <td>{{quantity}}</td>
            <td>
                <a class="btn btn-warning" href="/productPage?id={{gamePK}}">View Product</a>
            </td>
        </tr>
        {{/each}}
    </thead>
</table>

<!-- Modal -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="first">First Name</label>
                        <input type="text" class="form-control" id="first" aria-describedby="firstHelp" placeholder="Enter your first name">
                    </div>
                    <div class="form-group">
                        <label for="last">Last Name</label>
                        <input type="text" class="form-control" id="last" aria-describedby="lastHelp" placeholder="Enter your last name">
                    </div>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" aria-describedby="usernameHelp" placeholder="Enter a username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="text" class="form-control" id="password" aria-describedby="passwordHelp" placeholder="Enter a password"></input>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" id="saveButton" class="btn btn-primary" data-dismiss="modal">Sign Up!</button>
            </div>
        </div>
    </div>
</div>





<script>
    $(document).ready(function() {

        $(".btn-create").on('click', function(e) {
            e.preventDefault();
            $('#createModal').modal('toggle');
        });

        $("#saveButton").on('click', function(e) {
            e.preventDefault();

            $.ajax({
                type: "POST",
                url: "/home",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify({
                    "first": $("#first").val(),
                    "last": $("#last").val(),
                    "username": $("#username").val(),
                    "password": $("#password").val()
                }),
                success: function(data, status) {
                    $('#message').html(result.message);
                    $('#message').show();
                },
                error: function(xhr, status, error) {
                    console.error(xhr.responseText);
                },
                complete: function(data, status) { //optional, used for debugging purposes
                    //console.log(status);
                }
            });
        });

        $("#search").on('click', function(e) {
            e.preventDefault();
            $('#searchModal').modal('toggle');


            $.ajax({
                type: "POST",
                url: "/homepage",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify({
                    "keyword": $("#keyword").val(),
                    "statusFilter": $("#statusFilter").val()
                }),
                success: function(data, status) {
                    console.log("success")

                },
                error: function(xhr, status, error) {
                    console.error(xhr.responseText);
                },
                complete: function(data, status) { //optional, used for debugging purposes
                    console.log(status);
                }
            });
        });
    });
</script>
